
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="vi">
<meta charset="utf-8" />
<meta name="description" content="BTLT Web buổi 1 Bài 1" />
<meta name="keywords" content="Lập Trình Web Cơ Bản"
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giải cứu người dân mắc kẹt ở khu dân cư sát Sông Hồng</title>
    <h1>Giải cứu người dân mắc kẹt ở khu dân cư sát Sông Hồng</h1>
</head>
<body>
    <h3>cứu trợ tại khu dân cư tổ 1 phường Cự Khối, quận Long Biên, Hà Nội, bị cô lập do nước sông Hồng dâng cao vào ngày 11-9-2024.<br /> Mực nước sông lên đến 11,14m, ngập đường sâu 2-3m, khiến nhiều khu vực không thể tiếp cận bằng đường bộ.<br /> Nhóm bạn trẻ thuộc câu lạc bộ SUP Thăng Long đã chèo thuyền SUP xuyên đêm để hỗ trợ người dân mắc kẹt, mang nhu yếu phẩm vào và giúp người dân di chuyển ra ngoài.</h3>
    <p>Chiều 11-9, lũ sông Hồng qua Hà Nội đạt đỉnh. Số liệu quan trắc từ Trung tâm Dự báo khí tượng thủy văn quốc gia lúc 13h cho thấy mực nước con sông này tại Hà Nội là 11,14m, dưới báo động 3 là 0,36m.</p>
    <p>Ghi nhận tại các quận Long Biên, Gia Lâm, nước sông dâng cao sát chân đê. Nhiều khu dân cư bị cô lập. </p>

    <p>Tại khu vực tổ 1 phường Cự Khối (quận Long Biên) nhiều người dân vẫn ở lại nhà. Các xóm ở sát mặt sông nay chìm giữa mênh mông nước. Đường vào đây ngập sâu 2-3m, chỉ có thể đi thuyền.</p>

    <p>    Khi nước sông dâng nhanh, nhiều người không kịp trở tay di dời. Họ liên tục gọi điện cầu cứu hàng xóm có thuyền để đưa người ra ngoài.</p>

    <p>  Chị Bùi Thị Bích cùng nhóm bạn thuộc câu lạc bộ SUP Thăng Long chiều 11-9 có mặt tại khu vực này. Họ dùng nhiều chiếc thuyền, SUP đi sâu vào các khu dân cư để mang theo nhu yếu phẩm cho người ở lại hoặc hỗ trợ người muốn ra ngoài.</p>
</body>
</html>

