
@{
    Layout = null;
}

<!DOCTYPE html>


<html lang="vi">
<meta charset="utf-8" />
<meta name="description" content="BTLT Web buổi 1 Bài 1" />
<meta name="keywords" content="Lập Trình Web Cơ Bản"
<head>
    <a href="~/Views/Home/Bai2.cshtml">~/Views/Home/Bai2.cshtml</a>
    <meta name="viewport" content="width=device-width" />
    <title>Hiển thị công thức toán và hóa</title>
    <h1>Công thức Toán và Hóa học</h1>
</head>
<body>
    <ul>
        <li>
            (6x<sup>3</sup>+52x<sup>4</sup>)<sup>2</sup>+5=0
        </li>
        <li>
            Axit sulfuric: H<sub>2</sub>50<sub>4</sub>
        </li>
    </ul>
</body>
</html>
